/*general*/

:root {
    --inputboxheight: 1rem
}

body
{
    font-size: 1rem;
}

h1, h4
{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*slider section*/

.nav
{
    display: flex;
    justify-content: center;
    height: 4rem;
}

.nav i
{
    height: 100%;
    width: 15%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*booking section*/

.booking
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partone
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.map
{
    width: 70%;
    height: 500px;
    border: 1px solid black;
    margin-right: 5px;
}

.detail
{
    position: relative;
    width: 30%;
    margin-left: 5px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
}

.detail h2
{
    background-color: white;
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    top: -24px;
    left: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

#resaform
{
    max-width: 300px;
    margin-bottom: .5rem;
}

.line
{
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    margin-top: 0.5rem;
    margin-bottom: 00.5rem;
}
.button
{
    display: flex;
    justify-content: center;
}

#listbox {
    font-size: 1rem;
    margin-top: 2rem;
    margin-right: 10px;
}
/*-----------------------------------------------------
    Yves tests, grid is back !!!!!
-----------------------------------------------------*/
.gridcontainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: .5rem;
    grid-auto-rows: 2rem;
    grid-template-areas:
    "a a a a b b b b"
    "c c c c d d d d"
    "e e e e f f f f"
    "g g g g h h h h"
    "i i i i j j j j"
    "k k k k k k k k"
}

.gridcard { align-self: center; grid-area: a; }
.gridcardid { grid-area: b; }
.gridlnamelabel { align-self: center; grid-area: c; }
.gridlname { grid-area: d; }
.gridfnamelabel { align-self: center; grid-area: e; }
.gridfname { grid-area: f; }
.gridmobilelabel {align-self: center;  grid-area: g; }
.gridmobile { grid-area: h; }
.gridmaillabel {align-self: center;  grid-area: i; }
.gridmail { grid-area: j; }
.gributton { align-items: center; align-self: center; grid-area: k;}
        
/*
#cardidlabel { grid-area: 10;}
#cardid { grid-area: 100;}
#lastnamelabel { grid-area: 20;}
#last_name { grid-area: 200;}
#firstnamelabel { grid-area: 30;}
#first_name { grid-area: 300;}

grid-template-areas: 
    "10 100"
    "20 200"
    "30 300";
*/
