/*general*/

body
{
    font-size: 1rem;
}

h1, h4
{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*slider section*/

.nav
{
    display: flex;
    justify-content: center;
    height: 4rem;
}

.nav i
{
    height: 100%;
    width: 15%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
    Signature 
*/
.sign {
    position: relative;
}
.sign p {
    position: absolute;
    right: 200px;
    top: -210px;
}
.sign button {
    position: absolute;
    right: 40px;
    top: -210px;
}
canvas { 
    border: 1px solid black;
    position: absolute;
    right: 20px;
    top: -220px;
    width: "300px"; 
    height: "200px";
}

/*booking section*/

.booking
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partone
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.map
{
    width: 70%;
    height: 500px;
    border: 1px solid black;
    margin-right: 5px;
}

.detail
{
    position: relative;
    width: 30%;
    margin-left: 5px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
}

.detail h2
{
    background-color: white;
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    top: -24px;
    left: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

.button
{
    display: flex;
    justify-content: center;
}

/*-----------------------------------------------------
    Yves tests, grid is back !!!!! For fun...
-----------------------------------------------------*/
.gridstation {
    display: grid;
    grid-template-rows: 0.8rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
    grid-auto-rows: 1.5rem;
    grid-template-areas:
    "li lib lib"
    "aa bb bb"
    "cc cc dd"
    "ee ee ff"
    "gg gg hh";
    padding: 1rem;
}

.cityselectL {align-self: center; grid-area: li; }
.cityselectD {align-self: center; grid-area: lib; }
.gaddressL {align-self: center; grid-area: aa; }
.gaddressD {align-self: center; grid-area: bb; }
.gplacesL {align-self: center; grid-area: cc; }
.gplacesD {align-self: center; grid-area: dd; }
.gfreeL {align-self: center; grid-area: ee; }
.gfreeD {align-self: center; grid-area: ff; }
.gbikesL {align-self: center; grid-area: gg; }
.gbikesD {align-self: center; grid-area: hh; }

.griduser {
    display: grid;
    grid-template-rows: 0.8rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
    grid-auto-rows: 1.5rem;
    grid-template-areas:
    "a b b"
    "c d d"
    "e f f"
    "g h h"
    "i j j"
    ". k .";
    padding: .5rem;
}

.gridcard { align-self: center; grid-area: a;}
.gridcardid { align-self: center;  grid-area: b; }
.gridlnamelabel { align-self: center; grid-area: c; }
.gridlname { align-self: center;  grid-area: d;  }
.gridfnamelabel { align-self: center; grid-area: e; }
.gridfname { align-self: center;  grid-area: f;}
.gridmobilelabel {align-self: center;  grid-area: g; }
.gridmobile { align-self: center; grid-area: h; }
.gridmaillabel {align-self: center;  grid-area: i; } 
.gridmail { align-self: center; grid-area: j;  }
.gridbutton { align-self: center; grid-area: k;  margin-top: 1rem;
                        margin-bottom: 1rem;}
.gridresa {
    display: grid;
    grid-template-rows: 0.5rem;
    row-gap: 2px;
    font-size: .8rem;
    font-style: italic;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    border-radius: 10px;
    grid-gap: .5rem;
    grid-auto-rows: 1.5rem;
    grid-template-areas:
    "iii jjj jjj"
    "ii jj jj"
    "kk ll ll"
    "mm nn nn";
    margin: .5rem;
    padding: .5rem;
    background-color: darkcyan;
    color: white;
}

.gresaclientL {align-self: center; grid-area: iii; }
.gresaclientD {align-self: center; grid-area: jjj; }
.gresastationL {align-self: center; grid-area: ii; }
.gresastationD {align-self: center; grid-area: jj; }
.gresaheureL {align-self: center; grid-area: kk; }
.gresaheureD {align-self: center; grid-area: ll; }
.gresaexptimeL {align-self: center; grid-area: mm; }
.gresaexptimeD {align-self: center; grid-area: nn; }
